@charset "utf-8";

#wrapper {
	width: 800px;
	font-family: 'Old Standard TT', serif;
	font-size: 17px;
	height: 1300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	background-image: none;
	padding: 0px;
	margin-bottom: 0px;
}
#banner {
	width: 785px;
	font-family: 'Old Standard TT', serif;
	font-size: 17px;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
#drop {
	width: 100%;
	font-family: 'Old Standard TT', serif;
	font-size: 17px;
	height: 32px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000000;
	border-top: 2px solid #A09E9E;
	border-right: 2px none #A09E9E;
	border-bottom: 2px solid #A09E9E;
	border-left: 2px none #A09E9E;
	z-index: 100;
}
#main {
	float: left;
	width: 100%;
	margin: 0px;
	height: 800px;
	text-align: left;
	display: block;
	overflow: visible;
	padding: 0px;
	border: 2px none #BDBDBD;

}



/* CSSTerm.com Simple Horizontal DropDown CSS menu */
.castleIMG {
	padding: 0px;
	float: right;
	display: block;
	margin: 20px;
	border: 5px solid #BDBDBD;
}
#infoi {
	position: absolute;
	left: 0px;
	top: 243px;
	z-index: 100;
	overflow: auto;
}
#infoj {
	position: absolute;
	left: 500px;
	top: 551px;
	z-index: 100;
	overflow: auto;
	float: right;
}
#infok {
	position: absolute;
	left: 0px;
	top: 854px;
	z-index: 100;
	overflow: auto;
}


#twitter a {
	display: inline;
	color: #FFF;
	text-decoration: none;
}
.drop_menu {
	list-style-type: none;
	height: 30px;
	background-color: #000000;
	border-top: 2px solid #A09E9E;
	border-right: 2px none #A09E9E;
	border-bottom: 2px solid #A09E9E;
	border-left: 2px none #A09E9E;
	clear: none;
	float: none;
	width: 790px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	overflow: visible;
	margin-top: 0;
	margin-bottom: 0;

}
.drop_menu li {
	float: left;
	z-index: 100;
}
.drop_menu li a {
	padding: 9px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover {
	position: relative;
	background-color: #B3B7B3;
}
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#B3B7B3;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#B3B7B3;
}
.drop_menu li:hover ul li a:hover {
	background-color: #D2D9D9;
}


#footer {
	overflow: auto;
	float: left;
	width: 100%;
	height: 100px;
}
#footer  p {
	text-align: left;
	padding-left: 15px;
}

#footerLeft {
	float: left;
	height: 60px;
	width: 265px;
	overflow: visible;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
}
#footerRight {
	float: right;
	height: 60px;
	width: 266px;
	overflow: visible;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
	font-size: 12px;
	border-right-style: none;
}
.icon {
	overflow: auto;
	display: block;
	left: 1695px;
	top: 217px;
	float: left;
}

#footerMiddle {
	float: left;
	height: 60px;
	width: 265px;
	overflow: visible;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	margin: 0px;
	padding: 0px;
}
#twitter {
	overflow: auto;
	right: -250px;
	top: 0px;
	z-index: 100;
	float: right;
	display: block;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -600px;
	margin-left: 0px;
}



html, body {
	padding: 0;
	margin: 0;
	background-image: url(images/page_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 1000px;
	width: 100%;
	background-attachment: fixed;
}
#header {
	height: 130px;
	background-color: #FFFFFF;
	background-image: none;
	background-repeat: repeat-x;
	background-position: right 120px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}
.header_img {
	padding: 0;
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 0px;
	margin-bottom: -10px;
	display: block;
	position: absolute;
	clear: left;
	float: left;
	overflow: auto;
}
.header_img_logo {
	padding: 0;
	display: block;
	float: left;
	margin-left: 200px;
	position: absolute;
	overflow: auto;
	clear: none;
}
.header_img_right {
	padding: 0;
	display: block;
	float: left;
	clear: both;
	margin-left: 705px;
	margin-bottom: -10px;
	margin-top: 40px;
	position: absolute;

}
.title {
	margin: 0;
}
#contenttitle {
	display: block;
	float: left;
	clear: none;
	overflow: auto;
	width: 100%;
	border-bottom: 5px solid #BDBDBD;
	border-top-width: 5px;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-left-color: #BDBDBD;
	font-weight: bolder;
	font-size: 31px;
	text-align: left;
}

#content {
	overflow: visible;
	float: left;
	clear: none;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	padding: 0px;
	text-align: left;
	letter-spacing: normal;
	vertical-align: top;
	display: block;
	white-space: normal;
	height: 1000px;
	width: 100%;
	border: 2px none #BDBDBD;
}
.container {
    position: relative;
}



#imageslideshow1 {
	width: 800px;
	height: 300px;
	overflow: visible;
	float: left;
	display: block;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
	margin-bottom: 4px;
	z-index: 1;
}
#imageslideshow2 {
	width: 800px;
	height: 300px;
	overflow: visible;
	float: left;
	display: block;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
	margin-bottom: 4px;
	z-index: 1;
}
#imageslideshow3 {
	width: 800px;
	height: 300px;
	overflow: visible;
	float: left;
	display: block;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
	margin-bottom: 4px;
	z-index: 1;
}


#main p {
	line-height: 25px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
}
